*{
    padding:0;
    margin:0;
}
body{
    height:1550px;
}
/*city_selector*/
.city_xmp{
    position: relative;
}
.city_wrap{
    position: relative;
    margin:0 auto;
    display: inline-block;
    height: 17px;
}
/*city_tab*/
.city_tab {
    position: absolute;
    border:1px solid #ccc;
    top:24px;
    margin-top: -1px;
    min-height:200px;
    background-color: #ffffff;
    width:400px !important;
    font-family: Microsoft YaHei;
    font-size: 14px;
    padding:10px 0px 10px 0px;
    z-index: 111;

}
.city_tab .x_tab_body{
    padding-left:10px;
}
.city_tab .x_tab_body li{
    display: inline-block;
    padding:3px 4px;
}
.city_tab .x_tab_body>ul>li{
    width:100%;
}
.city_tab .x_tab_body>ul>li>span{
    width:5%;
    margin-top: 2px;
    font-size: 16px;
    color: #f60;
    float: left;
}
.city_tab .x_tab_body>ul>li>ul{
    width:90%;
    float: left;
}
.city_tab  .x_tab_body a,.city_tab  .x_tab_head a{
    color: #000;
    text-decoration: none;
    transition: all .1s;
    display: block;

}
.city_tab  .x_tab_body a:hover{
    color: #f60;
    background-color: #eee;
    animation-duration:.2s;
}
.city_tab  .x_tab_head {
    border-bottom: 1px solid #999;
    height:33px;


}
.city_tab  .x_tab_head ul{
    list-style: none;
    position: absolute;
    width:95%;
    padding-left: 5%;
    z-index: 198701251013;

}
.city_tab  .x_tab_head a{
    padding:3px 6px 8px 6px;
    border:1px solid transparent;
    border-bottom: none;
    margin-left: -1px;
    height:20px;
}
.city_tab  .x_tab_head a:hover{
    text-decoration: underline;
    color: #f60;

}
.city_tab  .x_tab_head li{
    display: inline-block;


}
.city_tab  .selected{

    border:1px solid #999 !important;
    border-bottom:2px solid #fff !important;
}
/*city_tab*/
/*city_select*/
.search_panel{
    width: 255px;
}
.bg_red{
    background-color: #ddd;
    color:#ffffff ;
}
.bg_red .dis_code{
    color:#fefefe!important; ;
}
.search_list{
    list-style: none;
    width:100%;
    padding:0;
    cursor: pointer;
    margin-bottom: 0;
}
.search_list li{
    padding:5px 0;
    overflow: hidden;
}
.search_group{
    position: relative;
    font-size: 14px;
}
.search_group>input{
    outline:none;
    padding-left: 5px;
    border:#ccc 1px solid;
    height:22px;
    line-height: 22px;
    width:115px;
}
.search_group>div{
    border:1px solid #eee;
    position: absolute;
    z-index: 1999;
    background-color: #fff;
    margin-top: -1px;
}
.search_group>div>div{
    text-align: center;
    line-height: 100%;
}
.search_group .dis_left{
    float: left;
}
.search_group .dis_right{
    float: right;
    margin-right: 10px;
}
.search_group .dis_code{
    color: #666 !important;
}
.city_search{
    position: absolute;
    z-index: 2;

}
/*city_select*/
/*city_selector*/


/*date_picker*/
.date_outer >.date_inner>.date_head>ul,.date_outer >.date_inner>.date_body>ul{
    width:700px;
}
.date_outer >.date_inner>.date_head>ul>li,.date_outer >.date_inner>.date_body>ul>li{
    display: inline-block;
    width:98px;
    border:1px solid red;
}



/*
hoverS*/

.ms_down>div{
    position: relative;

}
.ms_hoverS{
    width:auto;
    float: left;
    padding:5px 0 8px 0;
    border:1px solid transparent;
    background-color: #fff;
    margin-left: 5px;
    margin-right: 10px;
}
.ms_hoverS>h4{
    padding-left:10px;
    cursor: pointer;

}
.ms_hoverS .plane-icon{
    margin-left:10px;
    margin-right:10px;
}
.ms_hoverS .ms_ul_wrap{
    position: absolute;
    height:100px;
    top:35px;
    z-index:1;
}
.ms_hoverS ul{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 7px #666;
    cursor: pointer;
    background-color: #fff;

}
.ms_hoverS ul>li{
    width:140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    height:20px;
    line-height: 20px;
    display: inline-block;
    padding:8px 8px 3px 10px;

}
.ms_hoverS ul>li:hover{
    background-color: #74A2DE;
}
.ms_hoverS ul>li span{
    margin-left: 10px;
    cursor: pointer;
}
{
    display: inline-block;
}

.ms_showS .ms_close{
    cursor: pointer;
}
.ms_showS li,.ms_showS{
    display: inline-block;
}
.ms_showS ul,.ms_hoverS ul{
    list-style: none;
}
.ms_showS li{
    margin:5px 6px 6px 5px;
    padding:2px 5px 3px 5px;
    background-color: #74A2DE;
    border-radius: 2px;
}
.ms_showS li span{
    display: inline-block;
    margin-left: 10px;
}
.ms_border{
    border:1px solid #ccc;
    box-shadow: 1px 1px 7px #666;
}
.ms_eli{
    width: 100%;
    height: 10px;
    background-color: #fff;
    position: absolute;
    top: 25px;
    z-index: 15;
}

